{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign region = include.region-param %}
{% assign country = include.country-param %}

{% assign section_file = site.data[section_id] %}

{% assign region_filtered = section_file.websites | where_exp:"websites","websites.region == region" %}
{% assign country_filtered = section_file.websites | where_exp:"websites","websites.country == country" %}

{% assign count_bcc = 0 %}
{% for website in section_file.websites %}
  {% if website.bcc %}
    {% assign count_bcc = count_bcc | plus: '1' %}
  {% endif %}
{% endfor %}

<div class="website-table desktop-table {{ section_id }}-table" id="{{ section_id }}-desktoptable" style="display:none">
  <table class="ui celled table content-wrapper">
    <thead class="ui sticky">
    <tr>
      <th class="single line four wide"><h3>{{ section_title }} ({{ count_bcc }} // {{region}})</h3></th>
      <th class="two wide">Bitcoin Cash</th>
      <th class="two wide">Bitcoin (Legacy)</th>
      <th class="two wide">Other Crypto</th>
      <th class="two wide">Docs</th>
    </tr>
    </thead>
    <tbody class="bcc-merchant-content">
      {% if count_bcc <= 0 %}
      <tr class="bcc-only-none-found">
        <td colspan="5" style="text-align: center"><h3><i class="big remove circle icon"></i></h3> No merchants accepting Bitcoin Cash found in {{section_title}}.</td>
      </tr>
      {% endif %}

      {% if region %}

      <h1>HAS REGION of {{ region }} ++ {{ country }}</h1>
      {% for website in region_filtered %}
        {% include desktop-row.html id-param=section.id title-param=section.title region-param=region %}
      {% endfor %}

      {% elsif country %}

      <h1>HAS COUNTRY of {{ region }} ++ {{ country }}</h1>
      {% for website in country_filtered %}
        {% include desktop-row.html id-param=section.id title-param=section.title country-param=country %}
      {% endfor %}

      {% else %}

      <h1>HAS BUT ZERO REGIONS</h1>
      {% for website in section_file.websites %}
        {% include desktop-row.html id-param=section.id title-param=section.title %}
      {% endfor %}

      {% endif %}

    </tbody>
  </table>
</div>
