{% assign region = include.region-param %}
{% assign country = include.country-param %}

<div id="maingrid" class="ui container">
  <div class="container-inner ui stackable grid">
    <div class="five column row">
      {% assign rowcount = 0 %}
      {% for section in site.data.sections %}
        {% assign current_section = site.data[section.id] %}
        {% assign rowend = forloop.index | modulo: 5 %}

        {% assign count_bcc = 0 %}
        {% for website in current_section.websites %}
          {% if website.bcc %}
            {% assign count_bcc = count_bcc | plus: '1' %}
          {% endif %}
        {% endfor %}

        {% if rowend == 0 or forloop.index == forloop.length %}
          {% if count_bcc == 0 %}
          <div id="{{ section.id }}" class="category column bcc-only-hidden">
          {% else %}
          <div id="{{ section.id }}" class="category column">
          {% endif %}
            <h5 class="ui icon header">
              <i class="circular {{ section.icon }} icon"></i>
              <small>{{ section.title }}</small>
            </h5>
          </div>
          {% include mobile-table.html id-param=section.id title-param=section.title region-param=region country-param=country %}
          {% assign offcount = 5 | times: rowcount %}
          {% for section in site.data.sections limit: 5 offset: offcount %}
            {% include desktop-table.html id-param=section.id title-param=section.title region-param=region country-param=country %}
          {% endfor %}
          </div>
          {% if forloop.index != forloop.length %}
            {% assign rowcount = rowcount | plus: '1' %}
            <div class="five column row">
          {% endif %}
        {% else %}
          {% if count_bcc == 0 %}
          <div id="{{ section.id }}" class="category column bcc-only-hidden">
          {% else %}
          <div id="{{ section.id }}" class="category column">
          {% endif %}
            <h5 class="ui icon header">
              <i class="circular {{ section.icon }} icon"></i>
              <small>{{ section.title }}</small>
            </h5>
          </div>
          {% include mobile-table.html id-param=section.id title-param=section.title region-param=region country-param=country %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div id="no-results">
    <h2>No results found.</h2>
  </div>
