{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign region = include.region-param %}
{% assign country = include.country-param %}

{% assign section_file = site.data[section_id] %}

{% assign region_filtered = section_file.websites | where_exp:"websites","websites.region == region" %}
{% assign country_filtered = section_file.websites | where_exp:"websites","websites.country == country" %}

{% assign count_bcc = 0 %}
{% for website in section_file.websites %}
  {% if website.bcc %}
    {% assign count_bcc = count_bcc | plus: '1' %}
  {% endif %}
{% endfor %}

<div class="website-table mobile-table {{ section_id }}-table" id="{{ section_id }}-mobiletable" style="display:none">
  <div class="label">
    <h3>{{ section_title }}</h3>
  </div>
  <div class="bcc-merchant-content">
    {% if count_bcc <= 0 %}
    <div class="main negative{% if website.bcc == false %} no-bcc{% endif %} bcc-only-none-found-mobile">
      <div class="title">
        <i class="big remove circle icon"></i>No merchants accepting Bitcoin Cash found in {{section_title}}.
      </div>
    </div>
    {% endif %}
    {% if region %}

    <h1>HAS REGION of {{ region }} ++ {{ country }}</h1>
    {% for website in region_filtered %}
      {% include mobile-row.html id-param=section.id title-param=section.title region-param=region %}
    {% endfor %}

    {% elsif country %}

    <h1>HAS COUNTRY of {{ region }} ++ {{ country }}</h1>
    {% for website in country_filtered %}
      {% include mobile-row.html id-param=section.id title-param=section.title country-param=country %}
    {% endfor %}

    {% else %}

    <h1>HAS BUT ZERO REGIONS</h1>
    {% for website in section_file.websites %}
      {% include mobile-row.html id-param=section.id title-param=section.title %}
    {% endfor %}

    {% endif %}
  </div>
</div>
